*{
	box-sizing: border-box;
}
body{
	
	margin:0 auto;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background-image: url("../images/concrete-texture.png");
	color:#777777;
	font-size: 16px;
	vertical-align: baseline;
}
h1,h2,h3{
	font-family: "Georgia", Times, Times New Roman, serif;
	color:#4aaaa5;
}
h1{
	margin:0;
	font-size: 28px;
	padding: 15px;
}
h2{
	font-size: 20px;
}
hr{
	border: 0.8px solid #eeeeee;
}
header{
	background: #ffffff;
	border: 1px solid #cccccc;
	margin-bottom: 20px;
	height: 60px;
}
.headerWrapper{
	width: 960px;
	margin: 0 auto;

}
.headerWrapper::after{
	content: "";
	clear: both;
	display: block;
}
nav{
	float:right;
	font-size: 16px;
	display: flex;
    justify-content: space-between;
    margin-top: 26px;
    width: 270px;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;

}
nav a:hover{
	color: #4aaaa5;
}
a{
	color: #777777;
	text-decoration: none;
}

.name{
	background: #4aaaa5;
	color: white;
	float: left;
	/*padding: 20px;*/
}
ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}
.content{
	margin:0 auto;
	width: 960px;
	margin-bottom: 20px;
}
.content div{
	background: #ffffff;
	border: 1px solid #dddddd;
}
.content::after{
	display: block;
	content:"";
	clear: both;
}
.main{
	float: left;
	width: 650px;
	padding: 20px;
	
}
.main img{
	float:left;
	margin-right: 15px;
}
.main p{
	margin:0;
	line-height: 30px;
}
.main hr{
	margin-bottom: 15px;
}
.connect{
	float:right;
	width: 270px;
	padding: 20px;
}
.connect h2{
	color:#4aaaa5;
}
.social li img{
	width: 60px;
	height: 60px;
}
.social li{
	float: left;
	margin:8px;
}
.social img{
	box-shadow: #888888;
	opacity: 0.7;
}
.social img:hover{
	box-shadow: #888888;
	opacity: 1.0;
}
ul.gallery{
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
}
ul.gallery li{
	margin: 15px;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); 
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); 
	box-shadow: 0 1 3 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
ul.gallery li:hover{
	box-shadow: 10px 10px 10px lightgrey;
}
ul.gallery li > a{
	position: absolute;
	padding: 0.5em;
	bottom: 0.5em;
	/*right: 0.5em;*/
	left:0;
	word-break: break-all;
	background-color:#4aaaa5;
	text-decoration:none;
	color: white;
	font-size:0.85em;
	width: 100%;
	text-align:center;
	line-height: 25px;
}
ul.gallery li img{
	width: 100%;
	height: 100%;
	display: block;
	margin:0 auto;
}
form{
	line-height: normal;
}
input{
	line-height: 2em;
	font-size: 1em;
}
#submit{
	background: #4aaaa5;
	color: white;
	width: 100px;
	height: 30px;
	font-size: 15px;
}
footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
	border-top: 5px solid #4aaaa5;
	background: #666666;
	color: #ccc;
	padding: 20px;
	text-align: center;
	font-size: 10px;
}

@media only screen and (max-width: 980px){
	.headerWrapper{
		width: 650px;
	}
	.content{
		width: 650px;
	}
	.main{
		width: 300px;
	}
	.main img{
		clear: both;

	}
	
}
@media only screen and (max-width: 768px){
	.headerWrapper{
		width: 640px;
	}
	.content{
		width: 640px;
	}
	.main{
		width: 640px;
		margin-bottom: 20px;
	}
	.connect{
		width: 640px;
	}
	footer{
		 width: 640px;
		 margin:0 auto;
		 position: static;
	}
	
}
@media only screen and (max-width: 640px){
	/*body{
		margin:0 auto;
	}*/
	header{
		 width: 300px;
		 margin:0 auto;
	}
	.headerWrapper{
		 width: 300px;

	}
	nav {
	    /*float: right;*/
	    /*font-size: 16px;*/
	    /*display: flex;*/
	    /*justify-content: space-between;*/
	    margin-top: 0; 
	    margin-bottom:15px;
	    width: 300px;
	    padding: 10px;
	    background: white;
	    border: 1px solid #cccccc;
	    /*font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;*/
	}
	footer{
		 width: 300px;
		 margin:0 auto;
		 position: static;
	}
	.name{
		width: 300px;
	}

	.content{
		width: 300px;
	}
	.main{
		width: 300px;
		margin-bottom: 20px;
	}
	.connect{
		width: 300px;
	}
}


